html {
  font-size: 1rem;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic bold;
  color: #1692a8;
}
.container {
  flex: 1;
  width: 100%;
}
.todo {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 500px;
  padding: 1rem;
  background-color: #94c1ec;
  border-radius: 0.5rem;
}
.container input {
  border-radius: 20px;
  background: #54fff6;
  border: 1px solid #45fff6;
  padding: 0.5rem;
  margin: 0.5rem;
  width: 50%;
  font-size: 1rem;
  color: #170303;
}
.container button {
  border-radius: 20px;
  background: #47fff6;
  border: 1px solid #afe8e5;
  padding: 0.5rem;
  margin: 0.5rem;
  font-size: 1rem;
  font-style: oblique;
  color: #170303;
  cursor: pointer;
}
.container ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 5px;

  padding: 1rem 3rem 1rem 3rem;
}
.container ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 0rem 2rem;
  font-size: large;

  /* list-style-position: inside; */
  /* list-style-type: upper-roman; */
  animation: slide 2s ease-in-out;
  border-radius: 5rem;
  width: 100%;
  background-color: #42fff6;
}
.container ul li:hover {
  background-color: #f5f5f5;
}

#remove {
  z-index: 100;
}
